.nav-transparent {
  transition: background-color 0.35s ease-out;
  background-color: rgba(19, 143, 194, 0);
}

.nav-opaque {
  transition: background-color 0.35s ease-out;
  background-color: rgba(32,86,107, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.white a {
  color: white !important;
}

.nav-link {
  
}
.nav-link:before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -10px;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid #ffffff;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-link:hover:before,
.nav-item.active > a:before {
  opacity: 1;
  top: 0;
}

.nav-item.active a,
.nav-link:hover {
  border-top: 3px solid #ffffff;
}

.navbar-toggler-icon {
  color: white;
}