.nav-transparent {
  transition: background-color 0.35s ease-out;
  background-color: rgba(19, 143, 194, 0);
}

.nav-opaque {
  transition: background-color 0.35s ease-out;
  background-color: rgba(19, 143, 194, 1)
}

.white a {
  color: white;
}