.section {
  min-height: 70%;
}
.section:nth-child(even) {
  perspective: 900px;
  background-color: rgba(245,254,254,1);
}
.section:nth-child(even) .section-header {
  color: #292b2c;
}
.section:nth-child(odd) {
  background-color: rgba(9,120,172,1);
}
.section:nth-child(odd) .section-header {
  color: rgba(245,254,254,1);
}
.section-hero {
  height: 100%;
}
.section-container {
  height: 100%;
}
.section-header-title {
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  width: 50%;
  margin: auto;
  margin-bottom: 15px;
}
.section-header h1 {
  text-transform: uppercase;
}
.section-header p {
}
.section-body {}

@media(min-width: 992px) {
  .section-header p {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}