.section {
  min-height: 70%;
}
.section-container {
  height: 100%;
}
.section-header {
}
.section-header h2 {
  text-transform: uppercase;
}
.section-body {}


@media(min-width: 768px) {
  .section-header p {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}