.roadmap {
  margin: auto;
}
.roadmap-container {
}

.roadmap-section {
	background-color: rgba(245, 254, 254, 1);
	box-shadow: rgba(0,0,0,0.5) inset 1px;
}

.roadmap-section h4 {
	text-transform: uppercase;
}
.roadmap-section p {
	text-align: justify;
}

.projection {
	width: 50%;
}

.roadmap-section-container-right .roadmap-section {
	border-radius: 0px 70px 70px 70px;
}
.roadmap-section-container-left .roadmap-section {
	border-radius: 0px 70px 70px 70px;
}
.roadmap-text {}

@-webkit-keyframes pulse {
  0% { box-shadow:0 0 8px rgba(245, 254, 254, 1), inset 0 0 8px rgba(245, 254, 254, 1); }
  50% { box-shadow:0 0 16px rgba(245, 254, 254, 1), inset 0 0 14px rgba(245, 254, 254, 1); }
  100% { box-shadow:0 0 8px rgba(245, 254, 254, 1), inset 0 0 8px rgba(245, 254, 254, 1); }
}

.roadmap-dot {
	margin: auto;
	height: 50px;
	width: 50px;
  border-radius: 50%;
  background-color: rgba(9, 120, 172, 1);
  box-shadow: 0 0 8px rgba(245, 254, 254, 1), inset 0 0 8px rgba(245, 254, 254, 1);
	-webkit-animation: pulse 2s linear 1s infinite;
	z-index: 1;
}
.roadmap-dot p {
  display:block;
  text-align: center;
  line-height: 50px;
  font-weight:100;
	font-size: 16px;
	margin-bottom: 0px;
}
.roadmap-dot svg {
	height: 100%;
	display: block;
	margin: auto;
}
.roadmap-dot-connector {
	margin: 2px auto;
	height: 100%;
	width: 1px;
	border-left: 2px solid rgba(245, 254, 254, 0.1);
	border-right: 2px solid rgba(245, 254, 254, 0.1);
	background-color: rgba(245,254,254,0.75);
	z-index: -1;
}

@media(min-width: 576px) {
	.roadmap-section-container-left .roadmap-section {
		border-radius: 70px 0px 70px 70px;
	}
}