.box {
  padding: 50px 30px;
  text-align: center;
  -webkit-box-shadow: 0 0 0 0 #ffffff;
  box-shadow: 0 0 0 0 #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.box:hover {
  -webkit-box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.box-container {}
.box-row {}
.box-image {
  max-height: 160px;
  margin-bottom: 20px;
}
.box-image img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  max-width: 100%;
  max-height: 160px;
}
.box-title {
  text-transform: uppercase;
  margin: 0 0 10px;
  font-weight: 600;
}
.box-text {
  text-align: justify;
}

@media(min-width: 992px) {
  .box-image img {
    filter: grayscale(0);
  }
  .box:hover .box-image img {
    filter: grayscale(0);
  }
}