.App {
  height: 100%;
  /* background-color: rgba(32,86,107,1); */
  /* background-color: rgba(64,168,205,1); */
  background-color: rgb(9, 120, 172);
}

.parallax {
  position: absolute;
  height: 100%;
  width: 100%;
}

.parallax div {
  height: 100%;
}

p {
  font-size: 0.85rem;
}

@media(min-width: 576px) {
  p {
    font-size: 1rem;
  }
}