.App {
  height: 100%;
  background-color: rgba(63, 171, 214, 1);
}

.parallax {
  position: absolute;
  height: 100%;
  width: 100%;
}

.parallax div {
  height: 100%;
}

.parallax img {
  top: 25%;
  position: absolute;
  width: 25%;
}