/* .hero-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
.hero-section {
  margin: auto;
}
.hero-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-image {
  max-width: 350px;
}

@media(min-width: 576px) {
  .hero-image {
    max-width: 550px;
  }
}
@media(min-width: 768px) {
  .hero-image {
    max-width: 750px;
  }
}
@media(min-width: 992px) {
  .hero-image {
    max-width: 950px;
  }
}